.container{
    height: 100vh;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2021/07/04/19/58/sunset-6387462_640.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.login{
    width: 400px;

    background-color: transparent;
    text-align: center;
    padding-bottom: 25px;
    border: 3px solid ;
    box-shadow: 0px 0px 40px;
    border-radius: 25px;
    
}
.logo{
    padding-top: 20px;
}

.input input{
    width: 80%;
    height: 30px;
    margin-top: 30px;
    
}
.input i{
    position: relative;
    right: 30px;
    font-size: 20px;

}
button{
    width: 40%;
    height: 25px;
    margin-top: 25px;
    font-weight: 1000;
    background-color: #0064e0;
    color: white;
    border: none;
border-radius: 10px;
}
input::placeholder{
text-align: center;
letter-spacing: 5px;
}
.remember{
    color: white;
}
.remember a{
    color: white;
}
.fb{
    color: white;
}
.fb a{
    color: white;
}